---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


@font-face {
    font-family: "daon(m)";
    src: url("/assets/fonts/daon(m).ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "daon(b)";
    src: url("/assets/fonts/daon(b).ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "bit";
    src: url("/assets/fonts/8bit.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "apple SDM";
    src: url("/assets/fonts/AppleSDGothicNeoM.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "apple SDL";
    src: url("/assets/fonts/AppleSDGothicNeoL.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "apple SDB";
    src: url("/assets/fonts/AppleSDGothicNeoB.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
